@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
    background-color: #232127;
  }

.title{
    margin: 2px;
    align-items: center;
    font-size: 12px;
    font-weight: 100;
    color: #F8A18C;
}

.czacik{
  align-items: center;
}

.coming_soon{
    font-family: 'VT323', monospace;
    margin: 2px;
    align-items: center;
    font-size: 16px;
    font-weight: 200;
    color: #F8A18C;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10%;
    list-style-type: none;
    margin: 25px 25px;
}

.navbar nav li {
    list-style-type: none;
    margin: 25px 25px;
}

.navbar a {
    width: fit-content;
}

.navbar nav li a {
    text-decoration: none;
    display: block;
    color: #F8A18C;
}
