@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background-color: #232127;
  }

.grypsujesz{
    position: absolute;
    width: 250px;
    top: 50%;
    margin-left: 225px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.patka{
    position: absolute;
    width: 250px;
    top: 50%;
    margin-left: 1700px;
    text-align: center;
    transform: translate(-50%, -50%);
}

.grypsujesz img{
    padding-bottom: 12px;;
}

.patka img{
    padding: 12px;
}

.bernaszuk{
    width: 50%;
    padding: auto;
    margin: 0 auto;
    position: sticky;
    text-align: center;
}


.title{
    margin: 2px;
    margin-top: 32px;
    margin-bottom: 50px;
    font-size: 12px;
    font-weight: 100;
    color: #D64045 ;
}

.czacik{
  align-items: center;
}

.oddzielacz{
    background-color: #D64045;
    height: 1px;
    margin-bottom: 25px;
}

.coming_soon{
    font-family: 'VT323', monospace;
    margin: 2px;
    align-items: center;
    font-size: 16px;
    font-weight: 200;
    color: #D64045;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 10%;
    list-style-type: none;
    margin: 25px 25px;
    align-items: center;
}

.navbar nav li {
    list-style-type: none;
    margin: 25px 25px;
}

.navbar a {
    width: fit-content;
}

.navbar nav li a {
    text-decoration: none;
    color: #D64045;
}