@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #232127;
  }

.title{
    margin: 2px;
    align-items: center;
    font-size: 12px;
    font-weight: 100;
    color: #D64045;
}

.coming_soon{
  font-family: 'Montserrat', sans-serif;
    margin: 2px;
    align-items: center;
    font-size: 16px;
    font-weight: 200;
    color: #D64045;
}

.titleclass{
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #D64045;

  margin-top: -100px;
}

h1{
    font-size: 14px;
    color: #D64045;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 1rem 0 1rem 2rem;
}

  @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 21.2em;
    }
  }
  @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 17em;
    }
  }

  .text_1 {
    animation: text1;
  }
  .text_2 {
    animation: text2;
  }
  .text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 15s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
  }
  .text_1::after, .text_2::after {
    content: "";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }